.contact-list{

padding:10px 20px 10px 20px;
border:1px solid rgba(20, 21, 26, 0.561);
background-color:rgb(24, 67, 110); ;
border-radius:2px;
cursor: pointer;
transition: 0.4s;
&:hover{
    background-color:rgb(31, 84, 138);
    color:goldenrod;
}
}

.contact-ul{
    padding:0 20px 10px 20px;
    .a{
        &:hover{
            text-decoration: none;
        }
    }
}