

.contact-preview-container{
    width:100%;
    .profile-preview{
    border-radius:20px;
    width:35px;
    
}
.profile-info{
    flex-direction: column;
    padding-left: 10px;

   
 
    .contact-email{
        color: gray;
        font-size: 14px;
    }
}
.link-preview{
    text-decoration: none;
}
}