.home{
    margin-top: 20px;
  background-color: rgb(20, 21, 26) ;
  width: 100%;
  header{
      border-bottom:1px solid gray;
  }
  .home-info{
      margin-top:20px;
      padding: 0 20px;
   
      .user-bitcoin{
      color:goldenrod;
    }
    .user-usd{
        color:gray;
    }
    .user-balance-header{
        color:gray;
        font-size: 16px;
        margin-bottom: 2px;
    }

  }

  .btc-to-usd-header{
      color:gray;
      font-size:16px;
      margin-bottom: 4px;
  }
}
